<br/>
<div class="center_wrap" >
  <div class="bread_crumb">
    <ul>
      <li><a href="<%= root_path %>">Home</a></li> <li>»</li> <li><a href="<%= users_dashboard_index_path %>">User Dashboard</a></li> <li>»</li> <li>User Looking For Properties</li>
    </ul>
  </div>
  <div class="left1">
    <%= render "left" %>
  </div>
  <div id="index">
    <%= render "index"%>
  </div>
</div>

