<div class="links">
  <ul>
    <li>
      <h1 class="title"> Quick Search </h1>
      <br>
      <%= form_tag administrators_looking_fors_path, :method => :get do %>
          <div id="input_form" >
            <%= text_field_tag :search, params[:search],:class => 'text_field' ,:value=>'Search Properties',:onfocus=>"if(this.value=='Search Properties'){ this.value=''; this.style.color='#999999';}",:onblur=>"if(this.value=='') {this.value='Search Properties';this.style.color='grey';}" %> <br/>
            <%= image_submit_tag("search.png") %>
          </div> <br/>

      <% end %>
    </li>
  </ul>
</div>
<style>
    .left1{
        padding:5px 0px 15px 0px;
        margin-top:10px;
        margin-bottom:10px;
        margin-right:10px;
        float:left;
        width:185px;
        background-color:#f5fbfe;
        border:1px solid #cde4ee;
        height: 245px;
    }

    .text_field {
        color: #999999;
        float: left;
        font-size: 11px;
        height: 15px;
        margin-bottom: 0;
        margin-right: 0;
        width: 140px;
    }
</style>