<div class="content_box">


<!--<div class="sidebox">
<div class="textwidget">
  <div class="columns featured_service"></div>
  <div class="one_fourth last"></div>
</div>-->

<aside id="slider_wrap">
  <div id="slide">
    <img src="/assets/slider_img1.jpg" alt="Slider1" />
    <img src="/assets/timthumb (3).jpg"alt="Slider 5 (SAP)" />
    <img src="/assets/timthumb (2).jpg" alt="Slider2" />
  </div><!-- END: #slider -->
</aside><!-- END: #slider_wrap -->

<!--<a id="features"></a>-->

<!--<a id="features"></a>-->
<div class="sidebox">
  <div class="textwidget">
    <div class="columns featured_service"></div>
  </div>
</div>
<!--<a id="features"></a>-->
<div id="portfolio">
  <h3>Customer Projects</h3>
  <ul class="display_thumbnail three_col" id="image-grid">
    <li class="thumb">
      <a href="#" class="thumb">
        <!--<a href="projects.html" class="thumb">-->
        <img src="/assets/timthumb (4).jpg" alt="Vario Solar Calculator" /></a>
      <h4>Project</h4><p>The Vario Solar Calculator allows a user to calculate the possible yield of its solar plant based on the location and the inclination of the modules. Both parameters will be calculated automatically by the app. Other parameters can be added manually to refine the results, which are estimated values, that are calculated on basis of the average solar radiation amount in the specific area.</p>
    </li>
    <li class="thumb">
      <a href="#" class="thumb">
        <!--<a href="projects.html" class="thumb">-->
        <img src="/assets/timthumb (1).jpg" alt="DigiMobile" /></a>
      <h4>Project</h4><p>This app was created as the cross-platform mobile gateway to a company&#8217;s existing time recording backend. The goal was to achieve a convenient interface to that system. So the user, respectively the boss of a crew, can register time for one employee or the whole crew, attach the position to such bookings and finally synchronize the bookings with the server once network is available.</p>
    </li>
    <li class="thumb">
      <a href="#" class="thumb">
        <!--<a href="projects.html" class="thumb">-->
        <img src="/assets/timthumb.jpg"alt="smartlimo.de" /></a>
      <h4>Project</h4><p>This project&#8217;s goal was to create a cross-platform mobile web app for an existing limousine service. Customers should be able to easily book a limousine for a certain date, manage their account, check their booking history and retrieve some general information about the service.</p>
    </li>
  </ul>
</div>


<script type="text/javascript">
    /*NIVO SLIDER*/
    $(window).load(function() {
        $('#slide').nivoSlider({
            effect:'fade', //Specify sets like: 'fold,fade,sliceDown, random'
            animSpeed:500,
            pauseTime:3500,
            directionNav:true,
            controlNav:true,
            keyboardNav:true,
            pauseOnHover:true
        });
    });
</script>


<!--<script type="text/javascript">
      jQuery(function($) {
          $(".sf-menu").superfish({
              delay:			200,
              speed:			'fast',
              autoArrows:		false
          });
      });
  </script> -->

   <style>
     #slider_wrap
     {
         max-width:940px;
         margin:0 auto 0px auto;
         position:relative;
         clear:both;
         padding: 0;
         overflow:hidden;
         height:380px;}
   </style>



</div>