<br/>
<div class="center_wrap">
  <div class="bread_crumb">
    <ul>
      <li><a href="<%= root_path %>">Home</a></li> » <li>About Us</li>
    </ul>
  </div>
  <div class="content_box2">
    <h3 class="heads"><span>About Hyderabad Homes</span></h3>
    <p class="article">
      Hyderabad Homes is a Property Listing Website
    </p>
    <p class="article">
      The User are looking for properties or who are already having properties , captured by this site and helpful
      for new users who are just looking for any properties.
    </p>
    <p class="article">
      This site is useful for picking the location from google map and searching properties etc
    </p>
  </div>
</div>

