<br/>
<div class="center_wrap">
  <div class="bread_crumb">
    <ul>
      <li><a href="<%= root_path %>">Home</a></li> » <li>Contact Us</li>
    </ul>
  </div>
  <div class="content_box2">
    <h3 class="heads"><span>Contact Information</span></h3>
    Indigenius IT Solutions Pvt Ltd

    Plot No. 844, Flat No. 303,<br/>
    3rd floor, Srivatsam, <br/>
    Besides Peddamma Temple, <br/>
    Road No. 44, Jubilee Hills, <br/>
    Hyderabad - 500 033, INDIA.

    <h5 class="heads"><span>Write us an e-mail at: </span></h5>
    info@indigenius.com
  </div>
</div>