<br/>
<div class="center_wrap">
  <%if administrator_signed_in?%>
      <%= render 'login_index'%>
  <% elsif user_signed_in? %>
      <%= render 'login_index'%>
  <%else%>
      <div class="left1">
        <%= render "left" %>
      </div>
      <div id="index">
        <%= render "index"%>
      </div>
  <% end %>
</div>





